@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

*{

    font-family: 'Roboto', sans-serif;
}

body{
    
    background-color: #cde6dc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    margin: 20px;
}

.nav-bar{
    
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.nome-loja{

    font-family: 'Rubik Bubbles', cursive;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 10px 10px 10px gray;
    color: rgb(75, 75, 75);
}

.nome-loja::first-letter{

    color: #3d7b80;
}

.container{

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
}

.back-vitrine-button{

    text-align: center;
    text-decoration: none;
    color: #77b1a9;
    font-weight: bold;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 7px #77b1a9;
    padding: 10px 20px;
    transition: transform 0.3s linear;
    margin-bottom: 10px;
}

.card{

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    padding: 25px;
    box-shadow: 5px 5px 5px darkgray;
    background-color: white;
    transition: transform 0.3s linear;
    text-decoration: none;
    color: black;
    min-width: 200px;
}

.description{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtitle{

    font-weight: bold;
    margin: 15px 0;
    font-size: 32px;
}

.long-description{

    font-size: 20px;
}

.buy-button{

    cursor: pointer;
    margin-top: 30px;
    padding: 20px 50px;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkgray;
    background-color: #3ec487;
    color: white;
    font-size: 24px;
    animation: sobedesce 2s infinite linear;
}

.home-button:hover{
    
    transform: translateY(-3px);
}

.card-image{

    max-width: 400px;
    border-radius: inherit;
    min-height: 135px;
    transition: transform 0.3s linear;
}

.card-image:hover{

    transform: scale(1.1);
}

@keyframes sobedesce {
    
    0%, 100%{

        transform: translateY(0px);
    }

    50%{

        transform: translateY(-5px);
    }
}